// Specific CSS for your home-page


body a:hover {
  text-decoration: none;
}

body li {
  list-style: none;
}

a {
  color:#BD2722;
}

#img-resto {
  width: 100px;
  height: 100px;
}


.post-container {
  margin: 5px 5px 0 0;
  overflow: auto
}
.post-img {
  float: left
}
.post-img img {
  display: block
}
.post-content {
  margin-left: 210px
}
.post-title {
  font-weight: bold;
  font-size: 200%
}
