
  <ul>
    <% @restaurants.each do |r| %>
    <div class="post-container">
      <div class="post-img">
        <p><%= image_tag "resto.jpg", id: "img-resto"  %></p>
      </div>

      <div class="post-content">
      <li>
        <strong class="post-title"><%= link_to r.name, restaurant_path(r) %></strong>
        <p><%= r.address %></p>
      </li>
      </div>
    </div>

    <% end %>
  </ul>

