<div class="navigation">
  <%= link_to "Home", root_path %>
</div>

<div class="container">
  <%= simple_form_for (@restaurant) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :category, :as => :check_boxes, :collection => [['Chinese', :chinese], ['Italian', :italian], ['Japanese', :japanese], ['French', :french], ['Belgian', :belgian]], :include_hidden => false %>
    <%= f.submit "Confirm", class: "btn btn-primary" %>
  <% end %>
</div>
