<div class="navigation">
  <%= link_to "Home", root_path %>
</div>
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://cdn1.buuteeq.com/upload/18234/le-restaurant-3-1.jpg');">

  <div class="banner-content">
     <h1><%= @restaurant.name %></h1>
     <p><em><%= @restaurant.address %></em></p>
       <%= link_to "Edit", edit_restaurant_path, class: 'btn btn-success' %>
       <%= link_to "Add review", new_restaurant_review_path(@restaurant), class: "btn btn-danger" %>
  </div>
</div>



<div class="container">
  <div class="row comments">
    <div class="col-sm-offset-3 col-sm-6">
      <% @restaurant.reviews.each do |r| %>
        <p><strong>Commentaire #<%= r.id %></strong></p>
        <p><strong>Rating :</strong> <%= "*" * r.rating %></p>
        <p><%= r.content %></p>
      <% end %>
    </div>
  </div>
</div>

