<div class="navigation">
  <%= link_to @restaurant.name, root_path %>
</div>

<div class="container">
  <%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.submit "Validate", class: "btn btn-primary" %>
<% end %>
</div>
